<h1>演示列表</h1>
<router-outlet></router-outlet>
<div class="row placeholders">

  <div class="col-xs-6 col-sm-3 placeholder demo-hero-index-item cs-cursor"
    [routerLink]="['hero']">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
      class="img-fluid"
      >
    <h4>英雄</h4>
    <span class="text-muted">官方demo</span>
  </div>

  <div class="col-xs-6 col-sm-3 placeholder demo-hero-index-item" [routerLink]="['github']">
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw=="
      class="img-fluid"
      >
    <h4>github</h4>
    <span class="text-muted">查看器</span>
  </div>

</div>